Package: com.tomaszpoliszuk.appswitchercontroller
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader
Name: App Switcher Controller
Version: 1.1
Architecture: iphoneos-arm
Description: Control your App Switcher
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=appswitchercontrollerDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=appswitchercontrollerDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension
Icon: file:///Library/PreferenceBundles/AppSwitcherControllerSettings.bundle/icons/AppSwitcherController@3x.png
