{
	title = "App Switcher Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			icon = icons/AppSwitcherController.png;
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Switcher Style";
		},
		{
			cell = PSSegmentCell;
			key = "switcherStyle";
			default = 0;
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
			);
			validTitles = (
				Default,
				Deck,
				Grid,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "App Switcher Cards";
		},
		{
			cell = PSSwitchCell;
			key = "showAppIcon";
			label = "App Icon";
			default = 1;
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "showAppName";
			label = "App Name";
			default = 1;
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "App Switcher Cards (Deck)";
			footerText = "Please note that 'Spacing between cards' seems to use Fibonacci number to calculate distance between cards.";
		},
		{
			cell = PSEditTextCell;
			key = deckCardScaleInSwitcher;
			label = "Card Scale (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = deckDepthPadding;
			label = "Spacing between cards";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSGroupCell;
			label = "App Switcher Cards (Grid)";
		},
		{
			cell = PSEditTextCell;
			key = gridCardScaleInSwitcher;
			label = "Card Scale (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = gridYAxisSpacingPortrait;
			label = "Y-axis Spacing in Portrait (px)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = gridXAxisSpacingPortrait;
			label = "X-axis Spacing in Portrait (px)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = gridYAxisSpacingLandscape;
			label = "Y-axis Spacing in Landscape (px)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = gridXAxisSpacingLandscape;
			label = "X-axis Spacing in Landscape (px)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSGroupCell;
			label = "App Switcher Background";
		},
		{
			cell = PSEditTextCell;
			key = wallpaperScale;
			label = "Wallpaper Scale (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = homeScreenScale;
			label = "HomeScreen Scale (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = homeScreenOpacity;
			label = "HomeScreen Opacity (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = homeScreenBlur;
			label = "Blur (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSEditTextCell;
			key = dimmingAlpha;
			label = "Dimming (%)";
			defaults = com.tomaszpoliszuk.appswitchercontroller;
			PostNotification = "com.tomaszpoliszuk.appswitchercontroller.settingschanged";
			keyboard = numbers;
			isNumeric = 1;
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
